hr{
    margin:0;
}
.post-title{

}
.post-text{
    border: 1px solid #b1b1b1;
    padding: 10px;
    height: 200px;
}
.comment{
    border: 1px solid;
    width: 300px;
    padding: 10px;
}
.input-post-comment{
    width: 400px;
}
.comment-information{
    display: flex;
    justify-content: space-between;
}
.link-text{
    color: #4c58ec;
    cursor: pointer;
}