<div class="container">
    <div class="post-title">
        POST TITLE
    </div>
    <div class="post-text">
        SOME TEXT
    </div>
    <div *ngIf="isLoader" class="loader" id="circularG">
        <div id="circularG_1" class="circularG"></div>
        <div id="circularG_2" class="circularG"></div>
        <div id="circularG_3" class="circularG"></div>
        <div id="circularG_4" class="circularG"></div>
        <div id="circularG_5" class="circularG"></div>
        <div id="circularG_6" class="circularG"></div>
        <div id="circularG_7" class="circularG"></div>
        <div id="circularG_8" class="circularG"></div>
    </div>
    <hr>
    <div *ngFor="let item of comments;let i = index">
        <div class="comment" [id]="'comment_'+item.id_comment" [style.margin-left]="replyMargin(i,item.id_comment,item.id_parent_comment)">
            <div class="comment-information">
                <div>User: {{item.user_name}}</div>
                <div>Date: {{item.created}}</div>
            </div>
            <hr>{{item.text_comment}}<hr>
            <div class="comment-information">
                <div class="link-text" (click)="showReplyComment(i,item.id_comment)">Ответить</div>
                <div class="link-text" (click)="deleteComment(i,item.id_comment)">Удалить</div>
                <div class="link-text" (click)="showRedactComment(i,item.id_comment)">Редактировать</div>
            </div>
        </div>
        <div *ngIf="isFormReplyNewComment && replyIdComment == item.id_comment">
            <label>Reply {{item.user_name}} user message</label>
            <div>
                <input class="form-control input-post-comment" placeholder="Input name..." type="text">
                <textarea placeholder="Input comment..." class="form-control input-post-comment" cols="40"
                          rows="3" [(ngModel)]="replyMessage"
                ></textarea>
                <button class="btn btn-primary" (click)="replyComment(item.id_comment,item.user_name)">Reply</button>
            </div>
        </div>
        <div *ngIf="isFormRedactNewComment && redactIdComment== item.id_comment">
            <label>Redacting {{item.user}} user message</label>
            <div>
                <textarea placeholder="Input comment..." class="form-control input-post-comment" cols="40"
                          rows="3" [(ngModel)]="redactMessage"
                ></textarea>
                <button class="btn btn-primary" (click)="redactComment(i,item.id_comment)">Redact</button>
            </div>
        </div>
    </div>
    <hr>
    <div *ngIf="isFormNewComment" class="form-group">
        <label for="comment">Comment:</label>
        <div>
            <input class="form-control input-post-comment" placeholder="Input name..." type="text" #inputUser>
            <textarea placeholder="Input comment..." class="form-control input-post-comment" id="comment" cols="40"
                      rows="3"
                      #inputComment></textarea>
            <button class="btn btn-primary" (click)="addComment(inputUser,inputComment)">Comment</button>
            <div *ngIf="error">{{errorMessage}}</div>
        </div>
    </div>
</div>